@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    color: white;
}

p {
    color: white;
}

button a {
    text-decoration: none;
    color: black;
}

h2, h3 {
    color: white;
}

footer ul {
    color: white;
    list-style: none;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.514)
}

.line {
    height: 1px;
    background-color: white;
}

.container__main, .container__div {
    height: 80vh;
}

.cursor_txt {
    animation: myAnim 2s ease 0s infinite normal forwards;    
}

@keyframes myAnim {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }

