@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    color: white;
}

p, p a, .container__list {
    color: white;
}

p a:hover {
    color: white;
}

button a {
    text-decoration: none;
    color: black;
}

h2, h3 {
    color: white;
}

footer ul {
    color: white;
    list-style: none;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.514)
}

.line {
    height: 1px;
    background-color: white;
}

.container__main, .container__div {
    height: 80vh;
}

.cursor_txt {
    animation: myAnim 2s ease 0s infinite normal forwards;    
}

.texto_blanco {
    color: white;
}

.container__textoDesafio {
    border: 2px dashed white;
    /* outline: ; */
}

.windowsTitleBar {
    height: 30px;
    background-color: white;
    border-radius:5px 5px 0px 0px;
    box-shadow:
      -2px 0px 5px rgba(20, 20, 20, 0.6) inset,
      2px 0px 3px #7fbce8 inset;
}

.btn__borrar {
    background-color: red;
    color: white;
}

input[type=number], .form-input {
    font-weight: bold;
}

#resultados {
    border: 2px dashed white;
}
  
@keyframes myAnim {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
}

.escritura {
  overflow: hidden; 
  white-space: nowrap; 
  letter-spacing: .15em; 
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

