@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    color: white;
}


p {
    color: white;
}

button a {
    text-decoration: none;
    color: black;
}

footer h2, footer h3, footer ul {
    color: white;
    list-style: none;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.514)
}

.line {
    height: 1px;
    background-color: white;
}

.container__main, .container__div {
    height: 80vh;
}
